[Desktop Entry]
Name=Cursor
Exec=cursor
Icon=/home/jmob/dev/dotfiles/cursor-app.png
Type=Application
Categories=Development
StartupNotify=true
X-WMClass=Cursor
StartupWMClass=Cursor
