[Desktop Entry]
Name=WezTerm (Work)
Comment=Work, work, work
Keywords=shell;prompt;command;commandline;cmd;
Icon=wezterm
StartupWMClass=org.wezfurlong.wezterm
TryExec=wezterm
Exec=wezterm --config 'color_scheme="Gruvbox dark, hard (base16)";' start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
